[submodule "plugins/color-theme-tangotango"]
	path = plugins/color-theme-tangotango
	url = https://github.com/juba/color-theme-tangotango
[submodule "plugins/magit"]
	path = plugins/magit
	url = git://github.com/philjackson/magit.git
[submodule "plugins/distel"]
	path = plugins/distel
	url = https://github.com/massemanet/distel
[submodule "plugins/ac-slime"]
	path = plugins/ac-slime
	url = git://github.com/purcell/ac-slime.git
[submodule "plugins/ESS"]
	path = plugins/ESS
	url = https://github.com/emacs-ess/ESS
